 
<h1 class="services-header-title"  class="services-group0">►►►¿Conócenos?◄◄◄</h1> 
<div  class="services-group1">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="services-group1 wow animated zoomIn" data-wow-offset="40">
 <marquee><img class="_6tb5 img" height="250" src="https://scontent.fuio5-1.fna.fbcdn.net/v/t31.0-1/c42.0.200.200a/p200x200/12471889_965972373496997_8961165164266106408_o.jpg?_nc_cat=101&amp;_nc_sid=dbb9e7&amp;_nc_ohc=5BzVMke5lPIAX9IpnzO&amp;_nc_ht=scontent.fuio5-1.fna&amp;oh=f5c52bee1e3b13d1836ca66ba21eea70&amp;oe=5EFF31B9" width="250" alt=""></marquee>
 <h4 class="services-title">Nosotros</h4>
 <p class="services-body">Somos la tienda de video juegos número uno en el país con mas de 10 años de experiencia brindando nuestros servicios al mejor precio y con la mejor calidad, todos los juegos comprados en nuestra tienda son 100% garantizados,
      nuestros clientes nos respaldan, disponemos tienda física en la ciudad de Quito e Ibarra.</p>

    </div>
    
    </div>
   
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="services-group2 wow animated zoomIn" data-wow-offset="40">
            <marquee><img src="https://img.unocero.com/2018/08/beneficio-videojuegos-933x467-e1535569886577.png" width="200" height="200" class="ui-search-result-image__element" alt="Fifa 20 - Ps4 - Digital -latino + Libertadores Anticandado "></marquee>
            <h4 class="services-title">Beneficios</h4>
            <p class="services-body">Es una bomba positiva para tu cerebro
                Según un estudio alemán, jugar 30 minutos al día aumenta la materia gris en el hipocampo derecho y el cerebelo, 
                áreas encargadas de estimular la memoria, la estrategia y planeación.</p>
                <p>Los videojuegos, sobre todo los de realidad virtual, ayudan a reducir la ansiedad por algún malestar físico, al disminuir el estrés y el miedo.</p>
                 
        </div>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="services-group3 wow animated fadeInRight" data-wow-offset="40">
        <marquee><img src="https://cl.buscafs.com/www.qore.com/public/uploads/images/56119_1000x1288.jpg" width="200" height="200" alt="Carátula de The Legend of Zelda: Breath of the Wild"></marquee>         
        <h4 class="services-title">Ventajas</h4>
        <p class="services-body">Mayor inteligencia
           Algunos usuarios de juegos de video han demostrado mayor rendimiento, velocidad y precisión en sus actividades diarias.</p>
          <p>Más alerta
          Este tipo de entretenimiento mejora las habilidades de los niños con dislexia y, además, aumenta la capacidad de atención.</p>
            
        </div>        
    </div>

    <br>
     <input type="button" class="services-group2" onclick="history.back()" name="volver atrás" value="volver atrás">
     <br>
