<p>login works!</p>
<div class="container">
  <h1>
    variables html #
  </h1>
  <form (ngSubmit)="obtenerFormulario(formularioUsario)" #formularioUsario="ngForm">

    <h4>Estado formulario</h4>
    <h5>
      <pre>
        valid: {{formularioUsario.valid}}
        invalid: {{formularioUsario.invalid}}
        dirty: {{formularioUsario.dirty}}
        touched: {{formularioUsario.touched}}
        untouched: {{formularioUsario.untouched}}
      </pre>
    </h5>


    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      [(ngModel)]="email"
        name="email"
        placeholder="ejemplo"
        minlength="3"
        required
        pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
        #campoEmail="ngModel">
      <h4>
        Estados del campo email
      </h4>
      <pre>
        valid: {{campoEmail.valid}}
        invalid: {{campoEmail.invalid}}
        dirty: {{campoEmail.dirty}}
        touched: {{campoEmail.touched}}
        untouched: {{campoEmail.untouched}}
      </pre>

      {{campoEmail.errors | json}}

      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="(campoEmail.errors)
    && campoEmail.dirty === true">
      <p
      *ngIf="campoEmail.errors.required">
        Campo email requerido
      </p>
      <p
      *ngIf="campoEmail.errors.minlength">
        minimo 3
      </p>
      <p
      *ngIf="campoEmail.errors.pattern">
        No es email
      </p>

    </div>



    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
      type="password"
      class="form-control"
      id="exampleInput"
      aria-describedby="emai"
      [(ngModel)]="contrasena"
        name="contrasena"
        placeholder="****"
        minlength="4"
        required
        #campoContrasena="ngModel">
    </div>
    <button
    [disabled]="formularioUsario.invalid"
    type="submit"
    class="btn btn-primary">
    Submit</button>
  </form>

</div>


<h1>Formulario de Registro</h1>




<div class="container">
<form (ngSubmit)="obtenUser(formuUsario)" #formuUsario="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputfirtname">Primer Nombre</label>

        <input type="text" class="form-control" id="Pname"
        [(ngModel)]="Pnombre"
        name="Pnombre"
        placeholder="David"
        minlength="3"
        required
        #campoName="ngModel"
        >

     

      </div>
      <div class="form-group col-md-6">
        <label for="inputsecondname">Second Name</label>


        <input type="text" class="form-control" id="Sname"
        [(ngModel)]="Snombre"
        name="Snombre"
        placeholder="José"
        required
        #campoNames="ngModel"
        >


      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">password</label>

      <input type="password" class="form-control" id="pass1" placeholder="******" 
      [(ngModel)]="pass"
      name="pass"
      placeholder="****"
      minlength="4"
      required
      #passs="ngModel"
            
      >
    </div>
    <div class="form-group">
      <label for="inputAddress2">verifica password</label>
      <input type="password" class="form-control" id="pass2" placeholder="******"
      [(ngModel)]="vpass"
      name="vpass"
      placeholder="****"
      minlength="4"
      required
      #vpasss="ngModel"
      >
    </div>
   

    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="(campoName.errors)
    && campoName.dirty === true"
    >
    <p
      *ngIf="campoName.errors.required">
        Campo nombre es requerido
      </p>
      <p
      *ngIf="campoName.errors.minlength">
        ingresa 4 letras
      </p>
    </div>


    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="(campoNames.errors)
    && campoNames.dirty === true"
    >
    <p
      *ngIf="campoNames.errors.required">
        Campo requerido
      </p>
      <p
      *ngIf="campoNames.errors.minlength">
        ingresa 4 letras
      </p>
    </div>



    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="(passs.errors)
    && passs.dirty === true"
    >
    <p
      *ngIf="passs.errors.required">
        Campo pass es requerido
      </p>
      <p
      *ngIf="passs.errors.minlength">
        ingresa 4 letras
      </p>
    </div>

    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="(vpasss.errors)
    && vpasss.dirty === true"
    >
    <p
      *ngIf="vpasss.errors.required">
        Campo verifica pass es requerido
      </p>
      <p
      *ngIf="vpasss.errors.minlength">
        ingresa 4 letras
      </p>
    </div>


  

    <button
    [disabled]="formuUsario.invalid"
      type="submit"
      class="btn btn-primary">
      Submit</button>
 </form>

</div>









